<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/media/gimpwalk_icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GimpWalk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img id='logo' src="/static/media/gimpwalk_icon.png" width='100px' height='100px' alt="Logo">
        </div>
        <h1>GimpWalk</h1>
        <h3>Upload a short video of yourself walking or running to for a detailed AI gait analysis and recovery plan</h3>
        <form id="upload-form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Choose a video file:</label>
                <input type="file" id="file" name="file" accept="video/*" required>
            </div>
            <div class="form-group">
                <label for="additional-notes">Additional Notes:</label>
                <textarea id="additional-notes" name="additional-notes" rows="3" cols="50" placeholder="Explain what your injury and provide any additional info or comments here..." required></textarea>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Upload and Analyze</button>
        </form>
        <div id="loading" class="hidden">
            <div class="spinner"></div>
            <p>Processing your video...</p>
        </div>
        <div id="response" class="hidden">
            <h2>AI Analysis Result:</h2>
            <div id="response-content"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.3/marked.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>